/* BEGIN CODE HERE */
header {
    height: 150px; /* Ορίζει το ύψος του header σε 150 pixels */
}

frame1 {
    width: 1200;
    height: 400; /* Ορίζει το ύψος του header σε 150 pixels */
}
frame1 {
    width: 1200;
    height: 400; /* Ορίζει το ύψος του header σε 150 pixels */
}
/* END CODE HERE */