/* BEGIN CODE HERE */
header{
    height: 150px; /* Ορίζει το ύψος του header σε 150 pixels */
    }
frame4{ 
    width: 1200;
}
frame5{ 
    width: 1200;
    height: 500px;
}
footer{
    height: 100px; 
}
.centered {
    text-align: center;
}
.po {
    font-size: 50px;
}
.border{
  table, th,tr,td {
  border: 1px solid black;
  border-collapse: collapse;
} 
}


/* END CODE HERE */